.grilla {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.Foto {
    flex-basis: 50%;
}

.Descripcion {
    padding-right: 100px;
    padding-top: 100px;
    text-align: justify;
}

.Contacto {
    flex-basis: 50%;
    height: 600px;
    padding: 20px 0px 0px 50px;
    background-color: $colfondo2;
}

.Escribime {
    flex-basis: 50%;
    height: 600px;
    background-color: #ffeddb;
    padding: 20px 0px 0px 50px;
}