/* Media Query */

@media only screen and (max-width: 768px) {
    .Foto {
        flex-basis: 100%;
    }
    .Descripcion {
        text-align: justify;
        align-content: center;
        align-items: center;
    }
    .Contacto {
        flex-basis: 100%;
        height: 600px;
        padding: 20px 0px 0px 50px;
        background-color: $colfondo2;
    }
    .Escribime {
        flex-basis: 100%;
        height: 600px;
        background-color: #ffeddb;
        padding: 20px 0px 0px 50px;
    }
}

@media only screen and (min-width: 1024px) {
    .Foto {
        flex-basis: 50%;
    }
    .Descripcion {
        padding-right: 100px;
        padding-top: 100px;
        text-align: justify;
    }
    .Contacto {
        flex-basis: 50%;
        height: 600px;
        padding: 20px 0px 0px 50px;
        background-color: $colfondo2;
    }
    .Escribime {
        flex-basis: 50%;
        height: 600px;
        background-color: #ffeddb;
        padding: 20px 0px 0px 50px;
    }
}