@import "colores";
@import "tipografia";
@import "formu";
@import"footer";
@import"flexindex";
@import "galeria";
@import "curso";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: $tipobody;
    h2 {
        font-family: $tipotitu;
        color: $coltipo;
    }
    p {
        font-family: $tipobody;
    }
}

nav {
    background: rgba(255, 255, 255, 0.97)
}

a,
a:visited {
    text-decoration: none;
    color: $coltipo;
}


/*Texto en carrusel*/

.fondoCar {
    background: rgba(178, 184, 163, 0.6);
    padding: 5px;
}

.carousel-item img {
    width: 100%;
}

.Inicio {
    margin-top: 5rem;
}

@import"mediaqflex";